<div class="callout callout--primary">
  <div class="grid grid--1x2">
    <div class="callout__content">
      <h2 class="callout__heading">Ready to Get Started?</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam rerum
        inventore omnis corporis alias a incidunt tenetur quod, odio harum
        dolores totam! Fugit mollitia asperiores dolor sint esse sapiente qui.
      </p>
    </div>
    <a class="btn btn--secondary btn--stretched" href="#">Get Started</a>
  </div>
</div>
