<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 1</h2>
    <svg class="icon icon--white collapsible__chevron">
      <use xlink:href="/Part3/images/sprite.svg#chevron"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi saepe
    est quos expedita cumque laboriosam obcaecati modi itaque soluta aliquid
    numquam nostrum reiciendis consequuntur repudiandae, vel nulla deserunt
    dolore. Sit?
  </div>
</div>
<script src="/Part3/main.js"></script>
