.container {
  border: 2px solid gray;
  /* width: 100vw;*/
  height: 100vh;
  display: grid;
  grid-template-rows: 100px auto 100px;
  grid-template-columns: 70fr 30fr;
}

.header {
  /* justify-items: stretch; */
  grid-column: 1/3;
  background-color: lightblue;
  text-align: center;
}

a {
  text-decoration: none;
}

.nav {
  background-color: yellowgreen;
}

.footer {
  align-items: center;
  grid-column: 1/3;
  background-color: lightgreen;
}

#footer-items {
  text-align: center;
  justify-items: center;
  padding-bottom: 0;
  margin-bottom: 0;
}
